:root {
  --primary-color: #6d62fc;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2 {
  color: black;
  font-family: var(--heading-font-family);
}

h3 {
  font-size: 20px;
}

p {
  font-family: var(--default-font-family);
}

img {
  width: 70%;
  height: auto;
  border-radius: 4px;
}

i {
  color: black;
  opacity: 70%;
}

a {
  font-size: 15px;
  color: var(--primary-color);
  font-family: var(--default-font-family);
  text-decoration: none;
}

footer .social-links a {
  margin: 0 7px;
  font-size: 30px;
}

.hero {
  background-color: var(--secondary-color);
  padding: 300px 60px;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
}

.btn-content {
  border-radius: 4px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  padding: 10px 15px;
}

.projects {
  padding: 50px 10px;
  text-align: center;
}

.resume {
  padding: 50px 10px;
  text-align: center;
  background-color: var(--secondary-color);
}

.skills-elements {
  color: white;
  border: var(--primary-color);
  background-color: var(--primary-color);
  opacity: 70%;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 10px 7px;
}

.contact {
  margin: 100px 100px 15px 100px;
  padding: 30px;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.email {
  font-size: 30px;
}

@media (max-width: 600px) {
  .email {
    font-size: 15px;
  }

  .contact {
    margin: 15px;
  }
}
